services:
  wallettracker-traefik:
    image: traefik:v3.4.3
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"

  wallettracker-api:
    build:
      context: ./backend
      dockerfile: Dockerfile.development
    env_file:
      - ./backend/.env.development
    ports:
      - "3001:3000"
    restart: always
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/prisma
      - /app/generated/prisma
    depends_on:
      - wallettracker-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wallettracker-api.rule=Host(`api.localhost`)"
      - "traefik.http.routers.wallettracker-api.entrypoints=web"
      - "traefik.http.services.wallettracker-api.loadbalancer.server.port=3000"

  wallettracker-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.development
    env_file:
      - ./frontend/.env.development
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - wallettracker-api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wallettracker-frontend.rule=Host(`app.localhost`) || Host(`localhost`)"
      - "traefik.http.routers.wallettracker-frontend.entrypoints=web"
      - "traefik.http.services.wallettracker-frontend.loadbalancer.server.port=3000"

  wallettracker-db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-wallettracker}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data: